*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:  url("netflix1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Netflix Sans" "Helvetica Neue" "sans-serif";
         
}
.outersection{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(15, 14, 14);
opacity: 0.8;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 12.5rem;
    padding-right: 1.25rem;
    padding-top: 1.5rem;
}
header img{
    width: 140px;
    height: 70px;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li a{
    text-decoration: none;
    
    color: #FFFFFF;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: ArialMTArial BoldArial BlackArialHebrewArial-BoldMT;
    margin-left: 0.75rem;
    font-size: 12px;
   }
   .redbutton{
    background-color: rgb(255, 0, 0);
    border-radius: 12.5%;
    padding: 0.25rem 0.75rem;
}
   
 main    {  
            margin: 0px ;
            position: absolute;
            left: 0;
            right: 0;
            
            }
section {   
            position: absolute;
            top: 21vw;
             left: 10vw;
            right: 10vw;
             font-family:"Netflix Sans" ,"Helvetica Neue","sans-serif";
             text-align: center;
            
              color: #FFFFFF;
              z-index: 1;
            }
.article    {
            
            padding-top: 15px;
           
           }
     h2 {
         font-size: 40px;
         font-weight: 700;
             }
     h3{
         font-size:20px;
         font-weight: 400;
     }
     p b{
         font: 1rem;
     }

