*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom, rgba(7, 93, 124, 0.3), rgba(87, 0, 85, 0.838));
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 100%;
    background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
    box-shadow: 3px 5px 6px rgba(45, 55, 68, 0.3);
    padding: 1.25rem 0.5rem 2rem 0.5rem;
}
.nav{
    display: flex;
  justify-content: space-between;
  padding: 0px 11px;
  font-size: 21px;
  margin-top: 15px;
}

.nav-bar ul a{
   text-decoration: none;
   padding: 1rem;
   color: aliceblue;
   transition: 0.8s ease-in-out;
}
.nav-bar ul a:hover{
    color: black;
    background: linear-gradient(190deg, rgb(240, 117, 199), rgba(178, 117, 240));
    transition: 0.8s ease-in-out;
}









.gana {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.music-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

margin: auto;
display: flex;
width: 100vw;
}
.musics{
   
    margin: 5px;
}