*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#root{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(37, 195, 243) ;
}