*{
    padding: 0;
    margin: 0;
}
/* body{
    background: linear-gradient(to right bottom, rgba(7, 93, 124, 0.3), rgba(0, 0, 0, 0.838));
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
.container{
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 100%;
    background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
    box-shadow: 3px 5px 6px rgba(45, 55, 68, 0.3);
    padding: 1.25rem 0.5rem 2rem 0.5rem;
}
.nav{
    display: flex;
  justify-content: space-between;
  padding: 0px 11px;
  font-size: 21px;
  margin-top: 15px;
}

.nav-bar ul a{
   text-decoration: none;
   padding: 1rem;
   color: aliceblue;
   transition: 0.8s ease-in-out;
}
.nav-bar ul a:hover{
    color: black;
    background: linear-gradient(190deg, rgb(240, 117, 199), rgba(178, 117, 240));
    transition: 0.8s ease-in-out;
}

.toggle-button{
    display: none;
  }
  
  .logo1{
    display: none;
  
   }
  
  
      @media only screen and (max-width: 480px) {
        .toggle-button{
          display: block;
          color:black;
            font-size: 30px;
            cursor: pointer;
        }
        .nav-icon{
          display: flex;
          gap: 100px;
          padding: 10px 20px;
          background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
          box-shadow: 3px 5px 6px rgba(45, 55, 68, 0.3);
      
        }
        .nav-bar{
          display: none;
        }
         .acti{
          display: block;
         }
         .logo1{
          display: block;
          margin: 0;
         }
         .logo{
          display:none;
         }
          .nav{
              
              display: flex;
              flex-direction: column;
          }
          .nav-links{
            display: flex;
            flex-direction: column;
          }
  