.container{
width: 80%;
margin: auto;
background-color: rgb(41, 77, 109);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-size: 3rem;
  color: rgb(19, 221, 63);
}
label{
  width: 30%;
  text-align: center;
  height: 60px;
  font-size: 1.4rem;
  font-weight: 600;
}
input[type="number"] {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  width: 55px;
  margin-left:20px ;
  background-color: antiquewhite;

}
input[type="checkbox"] {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  width: 55px;

}
button{
  height: 60px;
  width: 200px;
  border-radius:15px ;
  background-color: aquamarine;
  font-size: 1.2rem;
  }

  button:hover{
    cursor: pointer;
    color: blue;
  }
input[type="text"] {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  width: 55px;
  border:3px solid red;
  color: rgb(21, 21, 25);
  background-color: rgb(255, 255, 255);

}