*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(image/asset\ 3.jpeg);
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
.heading h4{
    height: 30px;
    font-family: Times New Roman;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 32, 32);
}
.navbar{
    margin-top: 0px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar a{
    margin: 25px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.text{
    width: 40%;
    color: aliceblue;
    margin: 10%;
    font-size: 25px;
}
.middle{

    width: 90%;
    margin: 10px auto;
    height: 320px;
    background-color: cadetblue;
    
}
.middle-image{
    padding-left: 10px;
    
}
.end{
    background-color:slategray;
    height: 500px;
    display: flex;
}
.bord{
    background-color: rgb(94, 16, 42);
    width: 50%;
    margin-top:8%;
    margin-left:5%;
    color: whitesmoke;
    height: 300px;
   
    
    
}
.bord  p{
    margin: 20px;
}
.bord-image img{
    margin-top :50% ;
    margin-left :50% ;
    width: 300px;
    border-radius: 50%;
}
.bord-image img:hover {
    position: relative;
    width: 400px;
    margin-left:10%;
    
}

