#navbar a{
    padding:1rem;
    text-decoration: none;
    font-size: 1.2rem;

}

#navbar {
    background-color: rgb(22, 49, 71);
    padding: 1.3rem 1rem;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

#navbar a:active{
    color: yellow;
}