.container{
    text-align: center;
<<<<<<< HEAD
    justify-content: center;
    margin-top: 10rem;
    background-color: red;
    height: auto;
=======
>>>>>>> c6cd89af4cdb1f2f17b004dadaa687b45d91d83c
    
}
