*{
    padding: 0;
    margin: 0;
}
.container{
    justify-content: center;
    align-items: center;
}
.nav-bar{
    width: 100%;
    background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
    box-shadow: 3px 5px 6px rgba(45, 55, 68, 0.3);
    padding: 1.25rem 0.5rem 2rem 0.5rem;
}
.nav{
    display: flex;
  justify-content: space-between;
  padding: 0px 11px;
  font-size: 21px;
  margin-top: 15px;
}

.nav-bar ul a{
   text-decoration: none;
   padding: 1rem;
   color: aliceblue;
   transition: 0.8s ease-in-out;
}
.nav-bar ul a:hover{
    color: black;
    background: linear-gradient(190deg, rgb(240, 117, 199), rgba(178, 117, 240));
    transition: 0.8s ease-in-out;
}

.footer{
    background-color: #303034;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;

}
.footer-heading{
    text-align: center;
    color:rgb(168, 174, 229);
    font-size: 1.5rem;
}
.footer-box{
    width: 75%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5rem;
}