*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 10px solid #fd7e47;
    max-width: 1500px;
    margin: auto;

}
h1 {
    
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
.image {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10px;
}
.image img{
    width: 100%;
    max-width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}