h1 {
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marker {
    width: 240px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .red {
    background-color: #f43f70;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  .cap{
    width: 150px;
    height: 50px;
    background-color: rgba(227,152,162,255);
   
  }