*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow Semi Condensed ,sans-serif;
}
body{
    background-color: rgb(236, 242, 248);
}
.wrapper{
    display: flex;
    justify-content: center;
}
.grid-container{
    display: grid;
    gap: 2rem;
    padding: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.box-container{
    background-color: rgb(255, 229, 196);
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) ;
    border-radius: 15px;

}
.colon{
    background-image: url("image/asset\ 5.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
   
}
.first-box{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(117, 65, 200);
    
}
.second-box{
    background-color: rgb(72, 85, 106);
}
.third-box{
    grid-row: 1/3;
    background-color: rgb(255, 255, 255);
}
.forth-box{
    background-color: #FFFFFF;
}
.fifth-box{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: rgb(25, 33, 46);
}

.box{
    display: flex;
    align-items: center;  
}
.box img{
    border-radius: 50%;
    width: 40px;
}
.box-heading{
    margin: 0rem 1rem;
}
.discription-titel-1{
    font-size: 20px;
    color: white;
    margin-bottom: 13px;
    font-weight: 500;
}
.discription-titel-2{
    font-size: 13px;
    color: white;
    opacity: 0.7;
}
.heading-name{
    color: white;
    font-size: 13px;
    font-weight: 400;
   
}
.heading-titel-box{
    color: white;
    opacity: 0.7;
    font-size: 10px;

}
.third-box .heading-name{
    color: rgb(72, 85, 106);
}
.third-box .heading-titel{
    color: rgb(72, 85, 106);
    opacity: 0.5;
}
.third-box .discription-titel-1{
    color: rgb(72, 85, 106);
}
.third-box .discription-titel-2{
    color: rgb(72, 85, 106);
    opacity: 0.7;
    line-height: 1.2rem;
}
.forth-box .heading-name{
    color: rgb(72, 85, 106);
}
.forth-box .heading-titel{
    color: rgb(72, 85, 106);
    opacity: 0.5;
}
.forth-box .discription-titel-1{
    color: rgb(72, 85, 106);
}
.forth-box .discription-titel-2{
    color: rgb(72, 85, 106);
    opacity: 0.7;
    
}